@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    background-color: white;
    border: solid black 1px;
}

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.6s;
    padding: 35px;
    background-color: rgb(255, 255, 255);
   }

nav .logo {
    position: relative;
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    font-size: 30px;
}

nav .initial {
    position: relative;
    font-weight: 800;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
    font-size: 30px;
    display: none;
}

nav ul {
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
   /* justify-content: center;
    align-items: center; */
}

nav /*ul*/li {
    /*display: flex;
    position: relative;*/
    list-style: none;
}

nav ul li a {
    display: block;
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: black;
    letter-spacing: 5px;
    font-weight: 500px;
    transition: 0.6s;
}

nav a:hover {
    transition: 0.4s;
    color: aqua;
}

.hero-section {
    display: flex;
    margin-left: 10px;
    margin-top: 200px;
    font-size: 40px;
}

.toggle-button {
    position: absolute;
    top: 35px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

@media (max-width: 1000px) {
    .toggle-button {
        display:flex;
    }

    nav ul {
        display: none;
    }
}

@media (max-width: 780px) {
    .toggle-button {
        top: 15px;
    }

    nav {
        padding: 15px;
    }

    nav .logo {
        display: none;
    }
}

@media (max-width: 770px) {
    nav .initial {
        display: flex;
    }
}

    